@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    @apply bg-[#f7f7fd] text-[#333333] dark:bg-[#141414] dark:text-[#F5F5F5];
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

::-webkit-scrollbar {
    height: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    @apply bg-[#EEEEEE] dark:bg-[#222222];
}